@model IEnumerable<Web_Ban_QA.Models.Product>

<h2>Quản lý Sản phẩm</h2>
<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Stock)</th>
        <th>@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }
</table>
